@model List<AñadeAddenda.Models.dtoCapturasManuales>

@{
    ViewBag.Title = "CapturasManuales";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Capture los valores solicitados</h2>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Form", "LeeAddenda", FormMethod.Post, new { @class = "btn btn-success glyphicon" }))
        {
            foreach (var item in Model)
            {
                if (item.MostrarCaptura == true)
                {
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                @Html.HiddenFor(modelItem => item.Id)
                                @Html.HiddenFor(modelItem => item.Tipo)
                                @Html.DisplayFor(modelItem => item.Nombre) :
                                @Html.HiddenFor(modelItem => item.Nombre)
                                @Html.DisplayFor(modelItem => item.Valor)
                                @Html.HiddenFor(modelItem => item.Valor)
                                @Html.TextBoxFor(modelItem => item.Valor, new { @class = "form-control", @id = "txtValor{0}", placeholder = "Introduce el valor" })
                                <br />
                            </div>
                        </div>
                    </div>
                }
                else { }
                foreach (var item2 in item.Lista)
                {
                    if (item2.MostrarCaptura == true)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @Html.HiddenFor(modelItem => item2.Id)
                                @Html.HiddenFor(modelItem => item2.Tipo)
                                @Html.DisplayFor(modelItem => item2.Nombre) :
                                @Html.HiddenFor(modelItem => item2.Nombre)
                                @Html.DisplayFor(modelItem => item2.Valor)
                                @Html.HiddenFor(modelItem => item2.Valor)
                                @Html.TextBoxFor(modelItem => item2.Valor, new { @class = "form-control", @id = "txtValor{0}", placeholder = "Introduce el valor" })
                                <br />
                            </div>
                        </div>
                    }
                }
            }
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @*<input id="btnGuardar" type="submit" value="Agregar" class="btn btn-success" />*@
                </div>
            </div>
        }
    </div>
</div>